.customlink-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: .5rem 0;
    border-radius: .3rem;

}
.customlink-point-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border: .1rem solid var(--border-primary);
    border-radius: .3rem;
    margin: 1rem;
    background-color: var(--secondary);
}
.customlink-point-box-point{
    font-weight: 500;
}
.customlink-point-box-text{
    padding-top: .3rem;
    font-size: .6rem;
}
.customlink-container:hover{
    background-color: var(--secondary);
}
.customlink-right-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.customlink-right-sitename{
    font-weight: 600;
    justify-content: flex-start;
}
.customlink-right-url{
    font-size: .6rem;
    padding: .2rem 0;
    color: darkgray;
}
.customlink-right-vote-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customlink-right-vote-icon{
    font-size: .8rem;
    color: darkgray;
    padding-right: .2rem;
}
.customlink-right-vote{
    color: darkgray;
}